<ul>
    <% resultado.forEach(equipo => { %>
        <li> 
            <b>Equipo Nro: <%= equipo.id  %></b> 
            <br> Nombre: <%= equipo.nombre  %> 
            <br> Serial: <%= equipo.serial  %> 
            <br> Descripción: <%= equipo.descripcion  %> 
            <br> Fecha de Adquisición: <%= equipo.fecha_adquisicion  %> 
            <br> Estatus: <%= equipo.estatus  %>
            <br> 
            <a href="/equipos/eliminar/<%=equipo.id%>">Eliminar</a>
            <a href="/equipos/modificar/<%=equipo.id%>"><button>Modificar</button></a>
        </li>
    <% }) %>
</ul>
